* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-image:linear-gradient(to top,rgba(0, 0, 0, 0.449) 32%, rgba(9, 9, 9, 0.8) 95%, rgba(0,0,0,1) 100%) ,url(./pic/bgtinderver2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    }
    header{
        width: 100vw;
        /* border: 5px solid lime; */
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        align-items: center;
        padding: 20px;

    }
    body{
        height: 100%;
    }
    .top-button{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 320px;
        height: 42px;
    }
    .language{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 24px;
        padding: 8px 20px;
    }
    
    .lang-but {
        display:flex;
        color:#ffffff;
        font-family:Arial;
        font-weight:bold;
        text-decoration:none;
    }
    .lang-pic{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
    }
    .language:hover {
        background-color:rgba(255, 255, 255, 0.155);
    }
    .langguage:active {
        position:relative;
        top:1px;
    }
    .log-but {
        background-color:#ffffff;
        border-radius:28px;
        display:flex;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-weight:bold;
        font-size:16px;
        text-decoration:none;
        padding: 8px 20px;
    }
    .log-but:hover {
        background-color:#ffffff;
    }
    .log-but:active {
        position:relative;
        top:1px;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        /* border: 5px dashed red; */
        width: 30%;
        min-width: 400px;
        align-items: center;
        
    }
    .tinder-logo-box{
        display: flex;
        
    }
    img{
        width: 30px;
    }
    .tinder-text{
        width: 125px;
    }
    nav > a{
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        padding-inline: 10px;
    }
    nav > a:hover{
        color: #d22150;
        text-decoration: underline;
    }
    .mid-but{
        /* border: 5px dashed palevioletred; */
        display: flex;
        color: white;
        font-size: 120px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        height: 80%;
        text-align: center;
    }
    .create-acc-but {
        background:linear-gradient(to bottom, #eb7f0c 5%, #d42287 100%);
        background-color:#eb7f0c;
        border-radius:28px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:16px 32px;
        text-decoration:none;
    }
    .create-acc-but:active {
        position:relative;
        top:1px;
    }
    p{
        padding-block: 20px;
    }
    footer{
        /* border: 5px solid red; */
        display: flex;
        height: 10vh;
        flex-basis: auto;
        justify-content: flex-end;
        align-items: flex-end;
        padding-inline: 20px;
    }
    footer > p{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
    }
    
            